body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.login-card {
  width: 340px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.login-card input,
.login-card select {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
}

.login-card button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #38bdf8;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.demo-info {
  margin-top: 12px;
  font-size: 13px;
}