.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(0,0,0,0.3);
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.logout-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
}